<div id="pergaminhos">
	<h3>Pergaminhos</h3>

	<ul>
		<% for(let i = 0; i < acoes.length; i++) { %>
			<%
				let txt = '';
				switch(parseInt(acoes[i].acao)){
					case 1:
						txt = 'aldeão(ões) coletando recursos';
						break;
					case 2:
						txt = 'enforcamento(s) programado';
						break;
					case 3:
						txt = 'aldeão(ões) em treinamento de história';
						break;
					case 4:
						txt = 'aldeão(ões) em treinamento de magia';
						break;
				}
				let date = new Date();
				let momento = date.getTime();
				let seg = Math.round((acoes[i].acao_termina_em - momento) / 1000);
			%>
			<li><%= acoes[i].quantidade %> <%= txt %>
				- <small>restam <span class="tempo_restante"><%= seg %></span> segundos -
					<a href="/revogar_acao?id_acao=<%=acoes[i]._id%>">revogar ordem</a></small>
			</li>
		<% } %>
	</ul>
</div>
