<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>

		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){

				function carregaPostagens(){
					let xhr = new XMLHttpRequest();
					xhr.open('GET', 'http://localhost:8080/api');

					xhr.onload = function(){
						if(xhr.status == 200){
							let data = $.parseJSON(xhr.responseText);
							for(let i = 0; i < data.length; i++){
								$('#container_timeline').append('<div class="publicacao"><span class="titulo">'
								+ data[i].titulo + '</span><img src="http://localhost:8080/uploads/' + data[i].url_imagem + '"/><div class="comentarios" id="comentarios_' + data[i]._id + '"></div><div class="comentar">' +
								'<input type="text" class="form-control input_comentario" id="postagem_' + data[i]._id + '" placeholder="Adicione um comentario">' +
								'<button class="btn btn-default btn-postagem" value="' + data[i]._id + '" type="button">Comentar</button></div></div>');

								if(data[i].comentarios != undefined){
									let comentarios = data[i].comentarios;
									for(let j = 0; j < comentarios.length; j++){
										$('#comentarios_' + data[i]._id).append('<div class="txt_comentario"><button class="btn btn-default btn_remover_postagem" type="button" value="'
										+ comentarios[j].id_comentario + '">X</button>' + comentarios[j].comentario + '</div>');
									}
								}
							}

							$('.btn_remover_postagem').click(function(){
								let id_comentario = this.value;
								let ajax = new XMLHttpRequest();
								ajax.open('DELETE', 'http://localhost:8080/api/' + id_comentario);

								ajax.onload = function(){
									if(ajax.status == 200){
										window.location.href = '/home';
									}
								}

								ajax.send();
							});

							$('.btn-postagem').click(function(){
								let id = this.value;
								let id_input_comentario = 'postagem_' + id;
								let comentario = $('#' + id_input_comentario).val();
								let ajax = new XMLHttpRequest();
								ajax.open('PUT', 'http://localhost:8080/api/' + id);
								ajax.setRequestHeader('Content-Type', 'application/json');

								ajax.onload = function(){
									if(ajax.status == 200){
										window.location.href = '/home';
									}
								}

								ajax.send(JSON.stringify({comentario: comentario}));
							});
						}
					}

					xhr.send();
				}

				carregaPostagens();

				$('#btn_incluir').click(function(){
					$('#container_timeline').hide();
					$('#container_form').show();
				});

				$('#btn-cancelar-publicacao').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});

				$('#btn-publicar').click(function(){
					let formData = new FormData();
					let arquivo = document.getElementById('arquivo').files[0];
					let titulo = document.getElementById('titulo').value;

					formData.append('arquivo', arquivo);
					formData.append('titulo', titulo);

					let xhr = new XMLHttpRequest();

					xhr.onreadystatechange = function(){
						if(xhr.readyState == 4){
							let res = xhr.responseText;
							document.getElementById('mensagem').innerHTML = res;
						}
					}

					xhr.open('POST', 'http://localhost:8080/api');
					xhr.send(formData);
				});

			});
		</script>

	</head>

	<body>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="col-md-12">
					<div class="container-fluid">
						<img alt="Instagram Clone - Versão WEB" src="images/logo2.jpg" class="logo2">
						<img alt="Incluir" src="images/incluir.jpg" class="pull-right btn-incluir" id="btn_incluir">
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="container_timeline"></div>

		</div>


		<div class="container" style="display:none" id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Publicar uma foto</h4></div>

			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="arquivo" id="arquivo" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publicar">Publicar</button>
					<button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
				</div>
				<div id="mensagem"></div>
			</div>
		</div>
	</body>
</html>
